.todo-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 20px 0 0 0;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  transition: background-color 0.5s;
  margin-bottom: 10px;
  padding: 5px;
  width: 500px;

  text-align: center;
  border: 2px solid #b2d9d0;
  border-radius: 50px;
  cursor: move;
  background-color: #d0e1fa;

  .finish-button {
    opacity: 0;
  }

  .finish-button-hovered {
    opacity: 1
  }

  .task-name {
    flex: 1 1 20px;
  }

  &:hover {
    opacity: 0.8;
    border-color: rgb(117, 177, 255);
  }
}

.todo-item:last-child {
  margin-bottom: 0;
}

.selected {
  background-color: #fac9cd;
}